.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container{
  display: flex;
  align-items: center;
  margin: 0;
}
.element{
  width: 500px;
  height: 600px;
  overflow: scroll;
  border: 2px double black;
  margin-right: 50px;
  
}
.selected{
  background-color: #f59b9b;
}
th, td{
  border: 1px solid black;
  padding: 2px;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.yourlist{
  position: sticky;
  top: 0;
  background-color: white;
  filter: blur(0.5);
  color: blue;
}
.addForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.addForm1{
  width: 50%;
  flex: 1;
}
.addForm2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}