
.Loading {top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    display: flex; 
    justify-content: center;
    align-items: center;
}
.Loading  li{list-style: none;
    width:6px ;
    height: 25px;
    background: rgb(10, 38, 123);
    margin:0 2px;
    animation: animate 0.9s infinite alternate;
}

@keyframes animate{
    0%{
        transform: scaleY(1);
    }
    25%{
        transform: scaleY(1.25);
    }
    50%{
        transform: scaleY(1);
    }
    75%{
        transform: scaleY(1.25);
    }
    100%{
        transform: scaleY(3);
    }
}
ul li:nth-child(1){
    animation-delay: .1s;
}
ul li:nth-child(2){
    animation-delay: .2s;
}
ul li:nth-child(3){
    animation-delay:.3s ;
}
ul li:nth-child(4){
    animation-delay:.4s;
}
ul li:nth-child(5){
    animation-delay: .5s;
}